*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn--gradient {
  z-index: 0;
  display: block;
  cursor: pointer;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: -o-linear-gradient(#FF79DA, #9356DC);
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  width: 220px;
  padding: 15px;
  border: none;
  position: relative;
  -webkit-box-shadow: inset 0 5px 5px -5px;
          box-shadow: inset 0 5px 5px -5px;
}
.btn--gradient:hover {
  -webkit-box-shadow: 0 3px 7px #b6b6b6;
          box-shadow: 0 3px 7px #b6b6b6;
}
.btn--gradient:hover::after {
  opacity: 1;
}
.btn--gradient::after {
  content: "";
  border-radius: 25px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), to(#a16be0));
  background: -o-linear-gradient(#ff93e1, #a16be0);
  background: linear-gradient(#ff93e1, #a16be0);
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 250ms;
  -o-transition: opacity 250ms;
  transition: opacity 250ms;
}
.btn--gradient--homepage {
  margin: 0 auto 10px;
}
.btn--gradient--card {
  margin: 30px auto;
}

.spinner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100%;
  -webkit-animation: scale 3000ms ease-in-out 1;
          animation: scale 3000ms ease-in-out 1;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.spinner-container span {
  z-index: 2;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.spinner-container .spinner-bg {
  -webkit-animation: fade 3000ms ease-in-out 1;
          animation: fade 3000ms ease-in-out 1;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100%;
}
.spinner-container .spinner {
  background: white;
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  -webkit-animation: rotate-spinner 3000ms ease-in infinite;
          animation: rotate-spinner 3000ms ease-in infinite;
}

h1 {
  font-family: "shrikhand", arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

.localisation {
  background-color: #e9e9e9;
  text-align: center;
  padding: 15px 0;
  -webkit-box-shadow: inset 0 5px 5px -5px #777777;
          box-shadow: inset 0 5px 5px -5px #777777;
}
@media screen and (min-width: 992px) {
  .localisation {
    max-width: 1110px;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
  }
}
.localisation .fa-solid {
  padding-left: 60px;
  padding-right: 20px;
}
.localisation input {
  border: none;
  background: transparent;
}
.localisation input::-webkit-input-placeholder {
  color: #000;
}
.localisation input::-moz-placeholder {
  color: #000;
}
.localisation input:-ms-input-placeholder {
  color: #000;
}
.localisation input::-ms-input-placeholder {
  color: #000;
}
.localisation input::placeholder {
  color: #000;
}
.localisation input:focus {
  outline: none;
}

.slogan {
  background-color: #f6f6f6;
  text-align: center;
  padding: 30px;
  display: grid;
  gap: 30px;
}
@media screen and (min-width: 992px) {
  .slogan {
    max-width: 1110px;
    margin: 0 auto;
  }
}
.slogan__title {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
}
.slogan__text {
  font-weight: 100;
}

@media screen and (min-width: 992px) {
  .fonctionnement {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
}
.fonctionnement__title {
  padding: 30px 20px 0;
}
@media screen and (min-width: 992px) {
  .fonctionnement__title {
    text-align: center;
    padding: 30px 20px;
  }
}
.fonctionnement__p {
  text-align: center;
  display: inline-block;
}

.btn {
  display: block;
  text-align: inherit;
  border-radius: 10px;
  margin: 20px auto;
  position: relative;
  display: block;
  cursor: pointer;
  color: #000;
  background: #f6f6f6;
  border-radius: 25px;
  width: 90%;
  padding: 15px;
  border: none;
  position: relative;
  -webkit-box-shadow: 0 3px 7px #d0d0d0;
          box-shadow: 0 3px 7px #d0d0d0;
}
.btn i {
  color: gray;
  padding: 0 20px 0 35px;
}
.btn:hover {
  background: #f1e6ff;
  -webkit-box-shadow: 0 3px 7px #b6b6b6;
          box-shadow: 0 3px 7px #b6b6b6;
}
.btn:hover i {
  color: #9356DC;
}
@media screen and (min-width: 992px) {
  .btn {
    text-align: center;
    margin: 0px auto 40px;
  }
}
@media screen and (max-width: 365px) {
  .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .btn:hover {
    font-size: 1.2em;
  }
  .btn i {
    padding: 0 13px;
    font-size: 1.5em;
    line-height: 20px;
  }
}

.number {
  background-color: #9356DC;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
  position: absolute;
  left: -10px;
  top: 12px;
}

.restaurants {
  background: #f6f6f6;
  padding-bottom: 20px;
  -webkit-box-shadow: 0 3px 7px #d0d0d0;
          box-shadow: 0 3px 7px #d0d0d0;
}
@media screen and (min-width: 992px) {
  .restaurants {
    max-width: 1110px;
    margin: 0 auto;
  }
}
.restaurants__title {
  width: 100%;
  padding: 30px 0 0 20px;
}
@media screen and (min-width: 992px) {
  .restaurants__title {
    text-align: center;
    padding: 50px 0;
  }
}
.restaurants__grid {
  margin: 20px auto;
  height: auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 90%);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  grid-gap: 20px;
}
@media screen and (min-width: 992px) {
  .restaurants__grid {
    grid-template-columns: repeat(2, 45%);
  }
}
.restaurants__card {
  border-radius: 20px;
  -webkit-box-shadow: 0 3px 7px #d0d0d0;
          box-shadow: 0 3px 7px #d0d0d0;
}
.restaurants__card:hover {
  -webkit-box-shadow: 0 0px 7px 4px #b6b6b6;
          box-shadow: 0 0px 7px 4px #b6b6b6;
}
.restaurants__card--new {
  position: relative;
}
.restaurants__card--new span {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #278870;
  background-color: #99E2D0;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 7px #d0d0d0;
          box-shadow: 0 3px 7px #d0d0d0;
}
.restaurants__card__img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants__card__content {
  padding: 10px;
  position: relative;
}
.restaurants__card__content i {
  cursor: pointer;
  font-size: 27px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.restaurants__card__title {
  margin-bottom: 10px;
}
.restaurants__card__text {
  font-weight: 100;
}

input[type=radio], input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: none;
}

.full-heart {
  opacity: 0;
}

#heart:checked + label .full-heart,
#heart1:checked + label .full-heart,
#heart2:checked + label .full-heart,
#heart3:checked + label .full-heart,
#heart4:checked + label .full-heart {
  opacity: 1;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  background: -o-linear-gradient(62deg, #FF79DA 10%, #9356DC 100%);
  background: linear-gradient(28deg, #FF79DA 10%, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: fillNscale 600ms ease-out 1;
          animation: fillNscale 600ms ease-out 1;
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  font-size: 29px;
}

#heart:checked + label .full-heart {
  font-size: 32px;
}

.header {
  max-width: 1110px;
  margin: 0 auto;
}
.header__arrow {
  display: inline;
  position: absolute;
  left: 25px;
  top: 20px;
  font-size: 25px;
}
.header__title {
  position: relative;
}
.header__title__img {
  display: block;
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__title__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #f6f6f6;
  border-radius: 30px 30px 0 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .header__title__flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 365px) {
  .header__title__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
.header__title__flex__title {
  font-family: "shrikhand", arial, sans-serif;
  font-size: 1.7em;
  font-weight: 100;
  margin: 0;
  padding: 20px 0;
}
@media screen and (max-width: 365px) {
  .header__title__flex__title {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .header__title__flex__title {
    padding: 20px 30px;
  }
}
.header__title label {
  height: 50px;
}
.header__title__flex__heart {
  font-size: 30px;
  position: absolute;
  right: 25px;
  top: 20px;
}
@media screen and (max-width: 365px) {
  .header__title__flex__heart {
    position: absolute;
    right: 45%;
    top: 60px;
  }
}
.header__title__flex__full-heart {
  cursor: pointer;
  position: absolute;
  font-size: 32px;
  right: 25px;
  top: 20px;
}
@media screen and (max-width: 365px) {
  .header__title__flex__full-heart {
    font-size: 32px;
    top: 60px;
    right: 45%;
  }
}

.card {
  background: #f6f6f6;
  padding: 10px 30px;
  max-width: 1110px;
  margin: 0 auto;
}
@media screen and (max-width: 365px) {
  .card {
    padding: 10px 20px;
  }
}
.card__title {
  text-transform: uppercase;
  font-weight: 100;
  border-bottom: 4px #99E2D0 solid;
  width: 45px;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
.card__title1 {
  -webkit-animation: animation-titres 0.7s ease-in-out backwards;
          animation: animation-titres 0.7s ease-in-out backwards;
}
.card__title2 {
  -webkit-animation: animation-titres 0.7s ease-in-out 2.1s backwards;
          animation: animation-titres 0.7s ease-in-out 2.1s backwards;
}
.card__title3 {
  -webkit-animation: animation-titres 0.7s ease-in-out 3.6s backwards;
          animation: animation-titres 0.7s ease-in-out 3.6s backwards;
}
.card__title4 {
  -webkit-animation: animation-titres 0.7s ease-in-out 2.6s backwards;
          animation: animation-titres 0.7s ease-in-out 2.6s backwards;
}
.card__title5 {
  -webkit-animation: animation-titres 0.7s ease-in-out 4.1s backwards;
          animation: animation-titres 0.7s ease-in-out 4.1s backwards;
}
.card__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 3px 7px #d0d0d0;
          box-shadow: 0 3px 7px #d0d0d0;
  margin-bottom: 20px;
  min-height: 80px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
@media screen and (max-width: 365px) {
  .card__menu {
    min-height: 100px;
  }
}
.card__menu:hover {
  -webkit-box-shadow: 0 3px 7px #b6b6b6;
          box-shadow: 0 3px 7px #b6b6b6;
}
.card__menu:hover .card__menu__content__description {
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.card__menu:hover .card__menu__valid {
  width: 100px;
  right: 0;
}
.card__menu:hover .card__menu__valid i {
  -webkit-animation: rotate 300ms linear 200ms;
          animation: rotate 300ms linear 200ms;
}
.card__menu__content {
  padding: 10px;
  min-width: 0%;
  width: 100%;
}
.card__menu__content__descriptionNprice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 10px;
}
.card__menu__content__title {
  font-weight: 400;
  padding-bottom: 5px;
}
.card__menu__content__description {
  font-weight: 100;
}
.card__menu__price {
  font-weight: 400;
  padding-left: 20px;
}
.card__menu__valid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100px;
  width: 0px;
  position: relative;
  right: -16px;
  -webkit-transition: position 450ms linear, width 300ms linear;
  -o-transition: position 450ms linear, width 300ms linear;
  transition: position 450ms linear, width 300ms linear;
  border-radius: 0 15px 15px 0;
  background: #99E2D0;
}
.card__menu__valid i {
  background: #99E2D0;
  color: #fff;
  font-size: 1.5em;
}
.card__menu1 {
  -webkit-animation: opacity-menus 1.5s ease-in-out 0.5s both;
          animation: opacity-menus 1.5s ease-in-out 0.5s both;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
}
.card__menu2 {
  -webkit-animation: opacity-menus 1.5s ease-in-out 1s both;
          animation: opacity-menus 1.5s ease-in-out 1s both;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
}
.card__menu3 {
  -webkit-animation: opacity-menus 1.5s ease-in-out 1.5s both;
          animation: opacity-menus 1.5s ease-in-out 1.5s both;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
}
.card__menu4 {
  -webkit-animation: opacity-menus 1.5s ease-in-out 2s both;
          animation: opacity-menus 1.5s ease-in-out 2s both;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
}
.card__menu5 {
  -webkit-animation: opacity-menus 1.5s ease-in-out 2.5s both;
          animation: opacity-menus 1.5s ease-in-out 2.5s both;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
}
.card__menu6 {
  -webkit-animation: opacity-menus 1.5s ease-in-out 3s both;
          animation: opacity-menus 1.5s ease-in-out 3s both;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
}
.card__menu7 {
  -webkit-animation: opacity-menus 1.5s ease-in-out 3.5s both;
          animation: opacity-menus 1.5s ease-in-out 3.5s both;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
}
.card__menu8 {
  -webkit-animation: opacity-menus 1.5s ease-in-out 4s both;
          animation: opacity-menus 1.5s ease-in-out 4s both;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
}
.card__menu9 {
  -webkit-animation: opacity-menus 1.5s ease-in-out 4.5s both;
          animation: opacity-menus 1.5s ease-in-out 4.5s both;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
}
.card__menu10 {
  -webkit-animation: opacity-menus 1.5s ease-in-out 5s both;
          animation: opacity-menus 1.5s ease-in-out 5s both;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
}
.card button {
  -webkit-animation: opacity-menus 2s ease-in-out 5s backwards;
          animation: opacity-menus 2s ease-in-out 5s backwards;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #353535;
  padding: 20px;
  color: #fff;
  font-weight: 100;
}
footer h3 {
  font-family: "shrikhand", arial, sans-serif;
  font-weight: 100;
  padding-bottom: 20px;
}
@media screen and (min-width: 992px) {
  footer h3 {
    text-align: center;
  }
}
footer p {
  padding-bottom: 10px;
}
footer i {
  width: 25px;
  padding-right: 10px;
}
@media screen and (min-width: 992px) {
  footer {
    max-width: 1110px;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
  }
}
@media screen and (min-width: 780px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@-webkit-keyframes rotate-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-box-shadow: 1px 3px 2px #9356DC;
            box-shadow: 1px 3px 2px #9356DC;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-box-shadow: 1px 3px 2px #99E2D0;
            box-shadow: 1px 3px 2px #99E2D0;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-box-shadow: 1px 3px 2px #FF79DA;
            box-shadow: 1px 3px 2px #FF79DA;
  }
}

@keyframes rotate-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-box-shadow: 1px 3px 2px #9356DC;
            box-shadow: 1px 3px 2px #9356DC;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-box-shadow: 1px 3px 2px #99E2D0;
            box-shadow: 1px 3px 2px #99E2D0;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-box-shadow: 1px 3px 2px #FF79DA;
            box-shadow: 1px 3px 2px #FF79DA;
  }
}
@-webkit-keyframes fade {
  0% {
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes fillNscale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  33% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 1;
  }
  66% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes fillNscale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  33% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 1;
  }
  66% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes animation-titres {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes animation-titres {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes opacity-menus {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes opacity-menus {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
