.btn {
    text-align : inherit;
    border-radius: 10px;
    margin: 0 10px 20px;
    position: relative;
    @include btn;
    i {
        color : gray;
        padding : 0 20px 0 35px;
    }
    &:hover {
        i {
            color : $primary-color;
        }
        background: pastel($primary-color);
        box-shadow : map-get($shadow, hover-btn);
    }
    &--header {
        border-radius: 25px;
        margin: 0 auto 10px;
        @include btn('localisation', #fff, linear-gradient($secondary-color, $primary-color), 220px);
    }
}
