// Media Queries
@mixin desktop-only {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin small-phones {
  @media screen and (max-width: 365px) {
    @content;
  }
}

// Bouton
@mixin btn($place: "btn", $color: #000, $background: $background-color, $width: 90%) {
    display: block;
    cursor: pointer;
    color: $color;
    background: $background;
    border-radius: 25px;
    width: $width;
    padding: 15px;
    border: none;
    position: relative;
    box-shadow: map-get($shadow, $place);
}

//si jamais je veux changer le code couleur du site, il suffi de changer couleur primary et secondary seulement, et la l'ombre (claire ou foncée) s'adaptera
@mixin background-shadow($color: $background-color) {
  @if (lightness($color) < 25%) {
    //si le background à une couleur claire, l'ombre sera foncée
    $color: lighten($color, 50%);
  } @else {
    //sinon le background à une couleur foncée et l'ombre sera claire
    $color: darken($color, 50%); 
  }
  box-shadow: map-get($shadow, localisation) $color;
}
