.fonctionnement {
    margin-left: 20px;
    &__title {
        margin : 30px 0;
    }
    &__p {
        text-align: center;
        display: inline-block;
    }
}
.number {
    background-color: $primary-color;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    position: absolute;
    left: -10px;
    top: 12px;
}