h1 {
    font-family: 'shrikhand', arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}
.localisation {
    @include desktop-only {
        max-width : 1110px;
        margin: 0 auto;
        border-radius: 20px 20px 0 0;
    }
    background-color: darken($background-color, 5%);
    text-align: center;
    padding: 15px 0;
    @include background-shadow();
    .fa-solid {
        padding-left: 60px;
        padding-right: 20px;
    }
    input {
        border: none;
        background: transparent;
        &::placeholder {
            // text-align: center;
            color: #000;
        }
        &:focus {
            outline: none;
        }
    }
}
.slogan {
    @include desktop-only {
        max-width : 1110px;
        margin: 0 auto;
    }
    background-color: $background-color;
    text-align: center;
    padding: 30px;
    display: grid;
    gap: 30px;
    &__title {
        margin: 0;
        font-size: 1.5em;
        font-weight: bold;
    }
    &__text {
        font-weight: 100;
    }
}
.btn {
    &--gradient {
        display: block;
        border-radius: 25px;
        @include btn('localisation', #fff, linear-gradient($secondary-color, $primary-color), 220px);
        &:hover {
            background: linear-gradient(lighten($secondary-color, 5%), lighten($primary-color, 5%));
            box-shadow: map-get($shadow, hover-btn)
        }
        &--homepage {
            margin: 0 auto 10px;
        }
        &--card {
            margin: 30px auto;
        }
    }
}
