.spinner-container {
    display:flex;
    justify-content: center;
    align-items : center;
    text-align: center;
    position : fixed;
    top: 0;
    width: 100%;
    min-height: 100%;
    animation : scale 3000ms ease-in-out 1;
    transform: scale(0);
    span {
        z-index: 2;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .spinner-bg {
        animation : fade 3000ms ease-in-out 1;
        position : fixed;
        top: 0;
        width: 100%;
        min-height: 100%;
    }
    .spinner {
       background:white;
       position : absolute;
       height : 150px;
       width : 150px;
       border-radius: 50%;
       animation: rotate-spinner 3000ms ease-in infinite;
    }
}
